*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.mainHeader{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.6rem 9rem;
    height: auto;
    border-top: 3.5px solid rgb(23, 23, 101);
}

.mainHeader > nav > ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 0.3rem;
}
